# Local backend configuration
# Copy these values into .env and replace the placeholders.

PORT=3003
NODE_ENV=development
MONGO_URI=mongodb+srv://admin:admin1234@cluster1.qa74vqp.mongodb.net/review-rating-system?retryWrites=true&w=majority&appName=Cluster1
JWT_SECRET=85a80bfc9826f8f4117f012c0ae719f2cc1769ee3a7bff720b04473e68fd31480902f8f28f628c8e0fcf2787455b5c107b09f3127f6e8c1073e00700da01b2d6
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
CLIENT_URL=http://localhost:3000
